@{
	ViewBag.Title = "О проекте mmsh";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Проект mmsh разрабатывается для осуществления удалённого взаимодействия с компьютером посредством веб-интерфейса.</p>
