@{
	ViewBag.Title = "mmsh | Медиа > Аудио";
}
<h3>@ViewBag.Message</h3>
<script type="text/javascript">
	function getAudio() {
		/*$.get('/helper.aspx', { 'function': 'audio', 'action': 'list' }, function (data) {
			data = eval(data);
			var tracks = data.tracks;
			for (_t in tracks) {
				var t = tracks[_t];
				var p = $("#playlist").add("<p />");
				p.html(t.artist + " - " + t.title);
			}
		});*/

		//var par = '{"function":"audio","action":"list","value":"0"}',
		//var par = encodeURI("function=audio&action=list&value=0"),
		var params = {
			'function': 'audio',
			'action': 'list',
			'value': 0
		};
		var d = { par: $.toJSON(params) };
		$.ajax({
			type: "GET",
			url: "/helper.asmx/getfiles",
			data: d,
			dataType: "json",
			contentType: "application/json; charset=windows-1251",
			success: function (msg) {
				console.log(msg);
				var data = $.toJSON(msg);
				console.log(data);
				var pl = $('#playlist');
				var ul = $('<ul />').appendTo(pl);
				for (_t in data) {
					var t = data[_t];
					$('<li />').appendTo(ul)
						.text((t.artist || "VA") + " - " + t.title)
						.data({ path: t.path })
						.click(function () {
							alert(this.data('path'));
						});
				}
			}
		});
	}
	$(function () {
		getAudio();
	});
</script>
<div class="row">
	<div class="col-md-9" id="content">&nbsp;</div>
	<div class="col-md-3" id="playlist">
		<!--<button type="button" class="btn btn-default" onclick="getAudio();"><span class="glyphicon glyphicon-refresh"></span></button>-->
	</div>
</div>