@{
    ViewBag.Title = "mmsh | Медиа > Аудио";
}
@section additional
{
    <script type="text/javascript">
        audios = [];
        function stopandplay() {

        }
        function stopAudio(i) {
            var au = audios[i].audio;
            if (au.length > 0) {
                //pause playing
                au.trigger('pause');
                //set play time to 0
                au.prop("currentTime", 0);
            }
        }
        function stopNCAudio(n) {
            for (i = 0; i < audios.length; i++) {
                if (i != n) {
                    stopAudio(i);
                    console.log('stopped all not current');
                }
            }
        }
        function ppAudio(au, th) {
            if (au.paused == true) {
                au.play();
                th.text('Pause');
            } else {
                au.pause();
                th.text('Play');
            }
        }
        function getAudio() {
            var params = {
                'type': 'audio'
            };
            var d = { par: params };
            $.ajax({
                type: "POST",
                url: "/helper.svc/getlist",
                data: $.toJSON(d),
                async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    var data = msg.d;
                    //console.log(data);
                    var pl = $('#playlist');
                    var i = 0;
                    for (_t in data) {
                        var t = data[_t];
                        var ac = $('<div class="a-c" />').appendTo(pl);
                        var ap = $('<div class="a-p" />').appendTo(ac)
                            .text('Play')
                            .data({
                                n: i,
                                p: encodeURI(t.path)
                            })
                        var at = $('<div class="a-t" />').appendTo(ac);
                        var aa = $('<div class="a-a" />').appendTo(ac);
                        ac.data({ path: t.path })
							.attr({ id: 'track' + i })
                            .data({
                                n: i,
                                p: encodeURI(t.path)
                            })
                        /*.click(function () {
                            if (!$('#audio' + $(this).data('n')).length) {
                                $('<audio />').attr({
                                    id: 'audio' + $(this).data('n'),
                                    src: '/helper.svc/stream?uname=' + $(this).data('p'),
                                    controls: true
                                }).appendTo($(this));
                            } else {
                                $('#audio' + $(this).data('n')).remove();
                            }
                        });*/
                        ap.click(function () {
                            var th = $(this);
                            if (!$('#audio' + th.data('n')).length) {
                                audios[th.data('n')].audio = $('<audio />').attr({
                                    id: 'audio' + th.data('n'),
                                    src: '/helper.svc/stream?uname=' + th.data('p'),
                                    controls: true
                                }).appendTo(th.parent());
                                console.log('created audio if not exists');
                            }
                            //stopNCAudio('#audio' + th.data('n'));
                            var au = $('#audio' + th.data('n'))[0];
                            ppAudio(au, th);
                        });

                        aa.text(t.artist || "VA");
                        at.text(t.title || "Untitled");
                        audios.push({
                            n: i,
                            path: t.path,
                            container: ac,
                            title: at,
                            artist: aa,
                            trigger: ap,
                            audio: null
                        });
                        i++;
                        if (i > 10) break;
                    }
                    /*var ul = $('<ul />').appendTo(pl);
                    var i = 0;
                    for (_t in data) {
                        var t = data[_t];
                        var li = $('<li />').appendTo(ul);
                        $('<a />').appendTo(li)
							.text((t.artist || "VA") + " - " + t.title)
							.data({ path: t.path })
							.attr({ id: 'track' + i })
							.click(function () {
							    $('audio' + i).pause();
							});
                        $('<audio />').appendTo(li)
							.attr({
							    id: 'audio' + i,
							    src: '/helper.svc/stream?uname=' + encodeURI(t.path),
							    controls: true
							});
                    }*/
                }
            });
        }
        function test() {
            var params = {
                'type': 'audio'
            };
            var d = { par: $.toJSON(params) };
            $.ajax({
                type: "GET",
                url: "/helper.svc/getlist",
                data: d,
                async: true,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    console.log(msg);
                }
            });
        }
        $(function () {
            getAudio();
        });
    </script>
}
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-9" id="player">
        <div id="player-head">
            <div id="controls">
                <div id="play-pause">play</div>
                <div id="stop">stop</div>
                <div id="volume">vol</div>
            </div>
            <div id="title">title</div>
        </div>
        <div id="position">pos</div>
        <div id="audio-container">
            <audio id="audio"></audio>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9" id="playlist">&nbsp;</div>
    <div class="col-md-3" id="info">
        <!--<button type="button" class="btn btn-default" onclick="getAudio();"><span class="glyphicon glyphicon-refresh"></span></button>-->
        <!--<div class="a-c">
            <div class="a-t">
                <h1>Title</h1>
            </div>
            <div class="a-a">
                <h2>Artist</h2>
            </div>
        </div>-->
    </div>
</div>