@{
	ViewBag.Title = "mmsh | Медиа";
}
<h3>@ViewBag.Message</h3>
<div class="row">
	<div class="col-md-4">
		<h2>Аудио</h2>
		<p>
			С помощью данного раздела вы сможете слушать музыку с компьютера KETTU-NB.
		</p>
		<p><a class="btn btn-default" href="/Media/Audio">Перейти &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Видео</h2>
		<p>
			С помощью данного раздела вы сможете смотреть видео с компьютера KETTU-NB.
		</p>
		<p><a class="btn btn-default" href="/Media/Video">Перейти &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Картинки</h2>
		<p>
			С помощью данного раздела вы сможете просматривать картинки и фотографии с компьютера KETTU-NB.
		</p>
		<p><a class="btn btn-default" href="/Media/Pictures">Перейти &raquo;</a></p>
	</div>
</div>